/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
body {
  margin-top: 6em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1536px;
  width: 98%;
  margin: 0 1%;
}
@media (min-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #00AFFF;
  height: 6em;
  width: 100%;
  font-size: 1.8rem;
  color: #FFFFFF;
  position: fixed;
  z-index: 99999;
  top: 0;
}
@media (min-width: 600px) {
  .navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
.navigation .nav-brand {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 3.2rem;
  font-weight: bold;
  padding: 0 1%;
}
@media (min-width: 600px) {
  .navigation .nav-brand {
    width: 18%;
  }
}
@media (min-width: 800px) {
  .navigation .nav-brand {
    width: 28%;
  }
}
.navigation .nav-brand .logo {
  display: none;
}
@media (min-width: 600px) {
  .navigation .nav-brand .logo {
    display: block;
  }
}
.navigation .nav-brand .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 600px) {
  .navigation .nav-brand .title {
    display: none;
  }
}
@media (min-width: 800px) {
  .navigation .nav-brand .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.navigation nav {
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1%;
}
@media (min-width: 600px) {
  .navigation nav {
    width: 78%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .navigation nav {
    width: 68%;
  }
}
.navigation nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.5em;
  font-size: 3.2rem;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
}
@media (min-width: 600px) {
  .navigation nav .menu {
    display: none;
  }
}
.navigation nav .link-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 99999;
  top: 6em;
  left: -300px;
  width: 300px;
  height: 94%;
  background-color: #00AFFF;
}
@media (min-width: 600px) {
  .navigation nav .link-group {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
.navigation nav .link-group .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 600px) {
  .navigation nav .link-group .nav-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 45%;
  }
}
@media (min-width: 800px) {
  .navigation nav .link-group .nav-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 60%;
  }
}
.navigation nav .link-group .nav-items li {
  margin: 0 1em;
  padding: 0.5em 0;
}
@media (min-width: 600px) {
  .navigation nav .link-group .nav-items li {
    padding: 0;
  }
}
.navigation nav .link-group .nav-items li a {
  text-decoration: none;
}
.navigation nav .link-group .nav-items li a:link,
.navigation nav .link-group .nav-items li a:visited {
  color: #FFFFFF;
}
.navigation nav .link-group .nav-items li:hover {
  border: 1px solid #FFFFFF;
  border-radius: 0.5em;
  padding: 1em;
}
.navigation nav .link-group .accounts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #FFFFFF;
  width: 100%;
}
@media (min-width: 600px) {
  .navigation nav .link-group .accounts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top: none;
    width: 50%;
  }
}
@media (min-width: 800px) {
  .navigation nav .link-group .accounts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top: none;
    width: 40%;
  }
}
.navigation nav .link-group .accounts li {
  margin: 0 1em;
  padding: 0.5em 0;
}
@media (min-width: 600px) {
  .navigation nav .link-group .accounts li {
    padding: 0;
  }
}
.navigation nav .link-group .accounts li a {
  text-decoration: none;
}
.navigation nav .link-group .accounts li a:link,
.navigation nav .link-group .accounts li a:visited {
  color: #FFFFFF;
}
.navigation nav .link-group .accounts li:last-child {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0.5em 0;
  background-color: inherit;
}
@media (min-width: 600px) {
  .navigation nav .link-group .accounts li:last-child {
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #006999;
  }
}
.navigation nav .link-group .accounts li:hover {
  border: 1px solid #FFFFFF;
  border-radius: 0.5em;
  padding: 1em;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: url("/img/fitness-cover.jpg") no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100vh;
  color: #FFFFFF;
  background-color: #00AFFF;
}
.header-content .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.header-content .text-content h1,
.header-content .text-content h2 {
  text-align: center;
}
.header-content .text-content h1 {
  font-size: 4.8rem;
  font-weight: bolder;
}
.header-content .text-content h2 {
  margin: 0.5em 0;
}
.header-content .text-content .action-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  .header-content .text-content .action-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 0.5em;
  }
}
.header-content .text-content .action-group button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  outline: none;
  border: none;
  margin: 0.5em;
  padding: 1em;
  font-size: 2.4rem;
  border-radius: 0.5em;
  color: #FFFFFF;
  background-color: #FBB403;
  cursor: pointer;
}
.header-content .text-content .action-group button:last-of-type {
  border: 1px solid #FFFFFF;
  background-color: #00AFFF;
}
.header-content .text-content .action-group a {
  text-decoration: none;
  color: inherit;
}
.header-content .text-content .action-group a:link,
.header-content .text-content .action-group a:visited {
  color: #FFFFFF;
}
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.top-container .box-group {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}
@media (min-width: 600px) {
  .top-container .box-group {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
  }
}
.top-container .box-group .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98%;
  padding: 0 0.5em;
  order: 2;
}
@media (min-width: 600px) {
  .top-container .box-group .text-content {
    width: 49%;
    order: 0;
  }
}
.top-container .box-group .text-content h3 {
  margin-bottom: 0;
  margin-top: 1em;
}
@media (min-width: 600px) {
  .top-container .box-group .text-content h3 {
    margin-top: 1em;
    margin-top: 0;
  }
}
.top-container .box-group .text-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  outline: none;
  border: none;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 2.4rem;
  border-radius: 0.5em;
  color: #125370;
  background-color: #FFFFFF;
  border: 1px solid #125370;
  cursor: pointer;
}
.top-container .box-group .text-content button:hover {
  border: none;
  color: #FFFFFF;
  background-color: #125370;
}
.top-container .box-group img {
  width: 98%;
  border-radius: 0.5em;
  order: 1;
}
@media (min-width: 600px) {
  .top-container .box-group img {
    width: 49%;
    order: 0;
  }
}
.about-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: url("/img/about-cover.jpg") no-repeat center center fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 50em;
  color: #FFFFFF;
  background-color: #00AFFF;
}
.about-header-content .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about-header-content .text-content h1 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: bolder;
}
.about-header-content .text-content p {
  text-align: left;
  margin: 0.5em 0;
  padding: 0 2em;
  font-size: 1.8rem;
  font-weight: bold;
  width: 90%;
}
@media (min-width: 800px) {
  .about-header-content .text-content p {
    width: 50%;
  }
}
.bottom-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 1em 0;
}
.bottom-container h3 {
  margin-bottom: 1em;
  padding: 0 0.5em;
}
.bottom-container .box-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  position: relative;
  max-width: 601px;
  width: 98%;
  margin: 0 auto;
}
.bottom-container .box-group .previous {
  width: 5em;
  border-radius: 15%;
  outline: none;
  border: 1px solid #FFFFFF;
  padding: 0.5em 0;
  background: transparent;
  color: #FFFFFF;
  position: absolute;
  top: 47.5%;
  left: 2em;
  z-index: 999;
  cursor: pointer;
}
.bottom-container .box-group .previous:hover {
  border: 1px solid #00AFFF;
}
.bottom-container .box-group .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98%;
  position: relative;
  background-color: #dedede;
  border-radius: 0.5em;
}
.bottom-container .box-group .box img {
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.bottom-container .box-group .box h3 {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  color: #FFFFFF;
}
.bottom-container .box-group .box .rating-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #FBB403;
  margin: 0.5em 0;
}
.bottom-container .box-group .box .rating-info .dp {
  width: 5em;
  border-radius: 50%;
  border: 0.2em solid #FFFFFF;
}
.bottom-container .box-group .box .rating-info span {
  margin: 0 1em;
  font-size: 1.8rem;
}
.bottom-container .box-group .next {
  width: 5em;
  border-radius: 15%;
  outline: none;
  border: 1px solid #FFFFFF;
  padding: 0.5em 0;
  background: transparent;
  color: #FFFFFF;
  position: absolute;
  top: 47.5%;
  right: 2em;
  z-index: 999;
  cursor: pointer;
}
.bottom-container .box-group .next:hover {
  border: 1px solid #00AFFF;
}
.team-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.team-group .tab-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #00AFFF;
}
.team-group .tab-bar .tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #FFFFFF;
  font-size: 1.2rem;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  border-right: 0.2em solid #FFFFFF;
  padding: 0.5em;
}
@media (min-width: 600px) {
  .team-group .tab-bar .tab-link {
    font-size: 1.4rem;
  }
}
.team-group .tab-bar .tab-link:hover {
  background-color: #1ab7ff;
}
.team-group .tab-bar:last-child {
  border-right: none;
}
.team-group .tab-bar .active {
  background-color: #125370;
}
.team-group .tab-content {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
}
.team-group .tab-content .tab-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: 1em;
  box-shadow: 2px 2px 2px #848484;
  width: 98%;
  margin-bottom: 1em;
}
@media (min-width: 600px) {
  .team-group .tab-content .tab-item {
    width: 49%;
  }
}
@media (min-width: 800px) {
  .team-group .tab-content .tab-item {
    width: 32%;
  }
}
.team-group .tab-content .tab-item img {
  width: 100%;
  margin-bottom: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.team-group .tab-content .tab-item .role {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 600px) {
  .team-group .tab-content .tab-item .role {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
}
.team-group .tab-content .tab-item .role p {
  margin-bottom: 0.5em;
}
.team-group .tab-content .tab-item .role p span {
  display: inline-block;
  margin: 0 0.5em;
}
.team-group .tab-content .tab-item .role p .member-info {
  font-weight: bolder;
  color: #125370;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2.5em 0;
  background-color: #00AFFF;
  color: #FFFFFF;
}
footer span {
  font-size: 1.8rem;
}
